body {
  background-color: #F3E3D0;
  margin: 0px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}
section{
  background-color: #848383;
  margin: 2px;
  border-radius: 8px;
  padding: 0x;
  border: 1px solid #403f3f;
}

h2{
  color: rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  text-align: center;;
  padding: 20px;
  background-color: #c5d6d6;
  border-radius: 8px;
  width: 300px;
  margin-top: 9x;
}
a{

  text-decoration: none;
  color: #00154f;
}

.sifou {
  background-image: url(images/main_img.png);
  height: 500px;
  font-size: 50px;
  font-family:"Permanent Marker", cursive;
  color: snow;
  text-align: center;
  background-size: cover;
  background-position: center;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background: linear-gradient(to top,#1c3155 20%,  #03133d 70%);
  border-bottom: 1px solid rgba(201,169,78,.15);
  display: flex;
  align-items: center;
  text-decoration: none;
}


#navbrand{
  font-family: 'Permanent Marker', cursive;
  color: rgb(255, 255, 255);
  font-size: 24px;    
  margin-left: 20px;
  text-decoration: none;
  float: left;
}

.nav-links{
  margin-left: 700px;
}

.navbar button {
  color: #3a2222;                    
  border-radius: 20%; 
  margin: 3px;
  padding: 8px 10px;
  display: inline-block;  
}

div .car-card {
  width: 350px;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 5px;
  height: 400px; 
  border: 1px solid #4d4c4c; 
  overflow: hidden;
  border-radius: 8px; 
  display: inline-block;
  margin-right: 1px;
}

.car-body {
  height: 75%;
  width: 100%;
}

.go{
  display: block;
  background-color: #535c66;
  text-align: center;
  color: white;
  height: 25%;
  width: 100%;
  margin-top: 0;
  padding: 10px; 
}

.car-price{
  height: 15%;
  font-size: 20px;
  background-color: #0b7da3;
}
.car-amt{
  color: snow;
  font-size: 20px;
  font-family:  cursive;
  margin-left: 10px;
}
.car-name{
  color: rgb(0, 0, 0);
  font-size: 25px;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
}
.car-meta{
text-align: end;
float: right;
margin-right: 10px;
margin-top: 5px;
color: snow;
background-color:darkgray;
border-radius: 4px;
border: 1px solid #ffffff;
}

.brands{
  color: snow; 
  background-color: #9d9f9f;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  display: flex;
}

.brands .h2{
  width: 100%;
  margin-bottom: 20px;
}

.brands-logo{
  margin-left: 3px;
  height: 150px;
  border: 1px solid #ffffff; 
  overflow: hidden;
  border-radius: 8px; 
  display: inline-block;
  margin-right: 3px;
  width: 15%;
}

.cat-card {
  margin-left: 3px;
  height: 200px;
  border: 1px solid #ffffff; 
  overflow: hidden;
  border-radius: 8px; 
  display: inline-block;
  margin-right: 3px;
  width: 15%;
}

#categeories-item{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.ab-txt{
  color: rgb(117, 92, 92);
  font-family:  cursive;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.contact{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

form{
 display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 34px;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #0d1f4f;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

footer{
  background-color: #00154f;
  color: snow;
  padding: 20px;
}
.car-txt{
  background-color: #0b7da3;
  color: snow;
  text-align: center;
  height: 45%;
  width: 100%;
  margin-top: 0;

}
.DEALS{
  color: snow; 
  background-color: #9d9f9f;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  display: flex;
}


.DEALS h2{
  width: 100%;
  margin-bottom: 20px;
}

.categories{
  color: snow; 
  background-color: #9d9f9f;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  display: flex;

}

.categories h2{
  width: 100%;
  margin-bottom: 20px;

}


.category-name{
  margin-left: 3px;
  height: 150px;
  border: 1px solid #ffffff; 
  overflow: hidden;
  border-radius: 8px; 
  display: inline-block;
  margin-right: 3px;
  width: 15%;
}

.h2{
  text-align: center;
}